body {
  background-color: #DDD;
  overflow: hidden;
}

.header {
  text-align: center;
}

#frame {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;

  border-style: solid;
  border-color: #333;

  cursor: crosshair;
}
